---
import Default from '../layouts/Default.astro';
---

<Default>
	<div class="prose flex flex-col gap-3">
		<h1>Impressum</h1>

		<h2>Angaben gem&auml;&szlig; &sect; 5 TMG</h2>
		<p>
			Max Knerrich<br />
			Sonnenhalde 10<br />
			75399 Unterreichenbach
		</p>

		<h2>Kontakt</h2>
		<p>
			Telefon: +491757134956<br />
			E-Mail: max.knerrich@outlook.com
		</p>

		<h2>Redaktionell verantwortlich</h2>
		<p>
			Max Knerrich<br />
			Sonnehalde 10<br />
			75399 Unterreichenbach
		</p>

		<p>Quelle: <a href="https://www.e-recht24.de">e-recht24.de</a></p>
	</div>
</Default>
