---
import Button from '$components/Button.astro';
import Projects from '$components/Projects.astro';
import Skills from '$components/Skills.astro';
import Default from '$layouts/Default.astro';
---

<Default>
	<section class="py-24 prose mx-auto">
		<h1
			class="text-5xl text-black dark:text-white relative flex flex-wrap lg:flex-nowrap gap-4"
		>
			<span class="absoulte -ml-4 lg:-ml-21">👋</span>
			<span class="w-full"> Hey, I'm Max Knerrich</span>
		</h1>
		<p class="mt-8">UX-Designer and Developer from Stuttgart, Germany</p>
		<p class="mt-4">
			<span>
				Im currently studing Computer Science and Media <a
					href="https://www.hdm-stuttgart.de"
					target="_blank"
					>@ HDM Stuttgart.
				</a>
			</span>
			<span>
				Founder of &nbsp;
				<a
					href="https://myta.media"
					target="_blank"
					class="inline-flex items-center gap-1 h-[22px] relative top-1.5"
				>
					<span class="i-custom-myta inline-block h-[22px]"></span>
					<span class="inline-block h-[22px] -mt-2">mytamedia.</span>
				</a>
			</span>
			<span>
				Also working as a UX-Designer
				<a
					href="https://www.linkedin.com/company/literacy-gmbh/"
					target="_blank"
				>
					@ Literacy Legaltech
				</a>
			</span>
		</p>
		<Button class="mt-8" stretch={true} href="mailto:max.knerrich@outlook.com">
			Contact me
		</Button>
	</section>
	<Skills />
	<Projects />
</Default>
