---
import Button from '../components/Button.astro';
import Skills from '../components/Skills.astro';
import Default from '../layouts/Default.astro';
const today = new Date();
---

<Default>
	<section class="py-24 prose mx-auto">
		<h1 class="text-5xl text-black dark:text-white relative">
			<span class="absolute lg:-ml-21 lg:mt-0 -mt-16 -ml-4">👋</span> Hey, I'm Max
			Knerrich
		</h1>
		<p class="mt-8">UX-Designer and Developer from Stuttgart, Germany</p>
		<p class="mt-4">
			Im currently studing Computer Science and Media @ <a
				href="https://www.hdm-stuttgart.de"
				target="_blank"
				>HDM Stuttgart
			</a>. Also working as a UX-Designer @
			<a href="https://www.linkedin.com/company/literacy-gmbh/" target="_blank"
				>Literacy Legaltech</a
			>
		</p>
		<Button class="mt-8" stretch={true} href="mailto:max.knerrich@outlook.com">
			Contact me
		</Button>
	</section>
	<Skills />
</Default>
