---import Button from "./Button.astro";

const today = new Date();
---

<footer class="prose py-12 md:pt-48">
	<div class="flex flex-col justify-center items-start gap-12 h-96">
		<h2 class=" text-5xl">Let's work together</h2>
		<Button href="mailto:max.knerrich@outlook.com" stretch={true}>Get in touch</Button>
	</div>
	<div class="flex justify-between items-center
	flex-col md:flex-row">
	&copy; {today.getFullYear()} Max Knerrich. All rights reserved.
	<nav class="flex gap-2">
		<a href="impressum">Impressum</a>
		<a href="datenschutzerklaerung">Datenschutzerkärung</a>
	</nav>
</div>
</footer>

