---
const today = new Date();
---

<footer class="flex justify-between prose">
	&copy; {today.getFullYear()} Max Knerrich. All rights reserved.
	<nav class="flex gap-2">
		<a href="impressum">Impressum</a>
		<a href="datenschutzerklaerung">Datenschutzerkärung</a>
	</nav>
</footer>
<style>
	footer {
		padding: 25px;
		text-align: center;
	}
</style>
