---
const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} Max Knerrich. All rights reserved.
	<a href="impressum">Impressum</a>
	<a href="datenschutzerkaerung">Datenschutzerkärung</a>
</footer>
<style>
	footer {
		padding: 25px;
		text-align: center;
	}
</style>
