---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
import Button from './Button.astro';
---

<script is:inline>
//check if localStorage has a value for dark mode
let theme = localStorage.getItem('theme');
if (theme === 'dark') {
	document.documentElement.classList.add('dark');
}
if (theme === null) {
	const dark = window.matchMedia('(prefers-color-scheme: dark)').matches;
	if (dark) {
		document.documentElement.classList.add('dark');
		localStorage.setItem('theme', 'dark');
	} else {
		localStorage.setItem('theme', 'light');
	}
}

function switchTheme() {
	document.documentElement.classList.toggle('dark');
	theme = theme === 'dark' ? 'light' : 'dark';
	if (theme === 'dark') {
		localStorage.setItem('theme', 'dark');
	} else {
		localStorage.setItem('theme', 'light');
	}
}
</script>
<script>
	const menuButton = document.getElementById('menu');
	if (menuButton) {
		menuButton.addEventListener('click', () => {
			[...document.querySelectorAll('.navmenu-toggle')].forEach(Element => {
				Element.classList.toggle('hidden');
				Element.classList.toggle('flex');
			});
		});
	}
</script>
<header class="mx-auto p-6">
	<div class="flex justify-between items-center gap-8">
		<a
			href="/"
			class="i-custom-logo min-w-12 h-12 select-none outline-none dark:color-white color-black"
		></a>
		<nav class="hidden justify-end gap-5 md:flex grow">
			<HeaderLink href="/">Home</HeaderLink>
			<!-- <HeaderLink href="/blog">Blog</HeaderLink>
			<HeaderLink href="/about">About</HeaderLink> -->
			<HeaderLink href="https://github.com/maxknerrich" target="_blank">
				GitHub
			</HeaderLink>
		</nav>
		<div class="flex gap-2">
			<button
				class="text-lg select-none outline-none w-14 h-14 flex items-center justify-center hover:bg-gray-100 dark:hover:bg-gray-900 rounded-md"
				onclick="switchTheme()"
				><div class="i-untitled-sun dark:i-untitled-moon-01"></div></button
			>
			<Button
				class="md:flex hidden"
				href="https://docs.google.com/document/d/1wpOBpqVNmpC82xsXmHVcUF8G9eHQ9PHYqcsT5NI0JXo/export?format=pdf"
			>
				Download CV
			</Button>
			<button
				id="menu"
				class="md:hidden text-lg select-none outline-none w-14 h-14 flex items-center justify-center hover:bg-gray-100 dark:hover:bg-gray-900 rounded-md"
			>
				<div class="i-untitled-menu-04"></div>
			</button>
		</div>
	</div>
	<nav
		class="hidden justify-end w-full gap-5 md:hidden navmenu-toggle flex-col mt-4"
	>
		<HeaderLink class="text-lg" href="/">Home</HeaderLink>
		<!-- <HeaderLink class="text-lg" href="/blog">Blog</HeaderLink>
		<HeaderLink class="text-lg" href="/about">About</HeaderLink> -->
		<HeaderLink
			class="text-lg"
			href="https://github.com/maxknerrich"
			target="_blank"
		>
			GitHub
		</HeaderLink>
	</nav>
</header>
