---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
import Button from './Button.astro';
---

<script is:inline>
	//check if localStorage has a value for dark mode
	let theme = localStorage.getItem('theme');
	if (theme === 'dark') {
		document.documentElement.classList.add('dark');
	}
	if (theme === null) {
		const dark = window.matchMedia('(prefers-color-scheme: dark)').matches;
		if (dark) {
			document.documentElement.classList.add('dark');
			localStorage.setItem('theme', 'dark');
		} else {
			localStorage.setItem('theme', 'light');
		}
	}

	function switchTheme() {
		document.documentElement.classList.toggle('dark');
		theme = theme === 'dark' ? 'light' : 'dark';
		if (theme === 'dark') {
			localStorage.setItem('theme', 'dark');
		} else {
			localStorage.setItem('theme', 'light');
		}
	}
</script>
<script>
	const menuButton = document.getElementById('menu');
	if (menuButton) {
		menuButton.addEventListener('click', () => {
			[...document.querySelectorAll('.navmenu-toggle')].forEach(Element => {
				Element.classList.toggle('hide');
			});
			console.log(menuButton.children[0].classList);
			menuButton.children[0].classList.toggle('i-untitled-menu-04');
			menuButton.children[0].classList.toggle('i-untitled-x-close');
			menuButton.classList.toggle('bg-gray-100');
			menuButton.classList.toggle('dark:bg-gray-900');
		});
	}
</script>
<header class="mx-auto p-8">
	<div class="flex justify-between items-center gap-8 relative z-900">
		<a
			href="/"
			class="i-custom-logo min-w-12 h-12 fixed select-none outline-none dark:color-white color-black left-8"
		></a>
		<nav class="hidden justify-end gap-5 md:flex grow">
			<HeaderLink href="/">Home</HeaderLink>
			<!-- <HeaderLink href="/blog">Blog</HeaderLink>
			<HeaderLink href="/about">About</HeaderLink> -->
			<HeaderLink href="https://github.com/maxknerrich" target="_blank">
				GitHub
			</HeaderLink>
		</nav>
		<div class="flex gap-2 grow md:grow-0 justify-end">
			<Button
				type="secondary"
				class="md:flex hidden"
				href="https://docs.google.com/document/d/1wpOBpqVNmpC82xsXmHVcUF8G9eHQ9PHYqcsT5NI0JXo/export?format=pdf"
			>
				Download CV
			</Button>
			<button
				class="text-lg select-none outline-none w-14 h-14 flex items-center justify-center hover:bg-gray-100 dark:hover:bg-gray-900 rounded-md focus-visible:outline-gray-700 mr-16 md:mr-0"
				onclick="switchTheme()"
				><div class="i-untitled-sun dark:i-untitled-moon-01"></div></button
			>
			<button
				id="menu"
				class="md:hidden text-lg fixed select-none outline-none right-8 w-14 h-14 flex items-center justify-center hover:bg-gray-100 dark:hover:bg-gray-900 rounded-md focus-visible:outline-gray-700"
			>
				<div class="i-untitled-menu-04"></div>
			</button>
		</div>
	</div>
	<nav
		class="hide flex justify-end w-full gap-5 md:hidden navmenu-toggle flex-col mt-4 fixed -top-8 pt-40 left-0 z-1 p-8"
	>
		<HeaderLink class="text-lg" href="/">Home</HeaderLink>
		<!-- <HeaderLink class="text-lg" href="/blog">Blog</HeaderLink>
		<HeaderLink class="text-lg" href="/about">About</HeaderLink> -->
		<HeaderLink
			class="text-lg"
			href="https://github.com/maxknerrich"
			target="_blank"
		>
			GitHub
		</HeaderLink>
	</nav>
</header>

<style>
	@keyframes hide {
		0% {
			visibility: visible;
		}
		100% {
			visibility: hidden;
		}
	}
	nav.navmenu-toggle.hide {
		transform: translate3d(0, -100%, 0);
		animation: 0ms hide;
		animation-delay: 0.3s;
		animation-fill-mode: forwards;
	}
	nav.navmenu-toggle.hide > * {
		opacity: 0;
		transition: opacity 0ms;
	}
	nav.navmenu-toggle > * {
		opacity: 1;
		transition: opacity 0ms 0.1s;
	}
	nav.navmenu-toggle {
		transform: translate3d(0, 0, 0);
		transition: transform 0.3s var(--bezier);
		--white: rgba(255, 255, 255, 0.9);
		backdrop-filter: blur(10px);
		background-color: var(--white);
	}
	:global(.dark) nav.navmenu-toggle {
		--black: rgba(0, 0, 0, 0.85);
		background-color: var(--black);
	}
</style>
