---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, '');
let classes = className;
if (isActive) classes += ' dark:text-white font-bold';
---

<a
	href={href}
	class:list={[
		'dark:hover:text-white hover:text-black hover:font-bold',
		classes,
		{ active: isActive },
	]}
	{...props}
>
	<slot />
</a>
