---
import { getCollection } from 'astro:content';
const skills = await getCollection('skills').then(skills =>
	skills.filter(skill =>
		process.env.NODE_ENV === 'development' ? true : !skill.data.draft,
	),
);
---

<section class="w-full max-w-[90ch] mx-auto px-4 xl:px-0 lg:py-24">
	<div class="bg-black dark:bg-gray-950 rounded-xl p-8 sm:p-12 lg:p-16 py-12">
		<h2 class="text-6xl mb-16 text-white">Skills</h2>
		<div class="flex justify-between flex-wrap gap-y-8">
			{
				skills.map(skill => (
					<div class="bg-white dark:bg-gray-900 rounded-md p-6 w-full shrink-0 md:w-[calc(50%-1rem)] lg:w-[calc(33%-1rem)]">
						<div class="flex items-center gap-3">
							{skill.data.logo && (
								<div class={skill.data.logo + ' w-10 h-10'} />
							)}
							<h3 class="text-xl">{skill.data.title}</h3>
						</div>
						<p class="mt-5">{skill.data.description}</p>
					</div>
				))
			}
		</div>
	</div>
</section>
<style>
	h2::selection {
		background: #fff;
		color: #000;
	}
</style>
