---
import { getCollection } from 'astro:content';
import Default from '$layouts/Default.astro';

const posts = await getCollection('projects'); /* .sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf(),
); */
---

<Default>
	<section>
		<ul>
			{
				posts.map(post => (
					<li>
						<a href={`/projects/${post.slug}/`}>{post.data.title}</a>
					</li>
				))
			}
		</ul>
	</section>
</Default>
