:root {
	--opacity: 1;
	--heading-color: var(--black);
	--bezier: cubic-bezier(0.3, 0.76, 0.27, var(--opacity));
	--gray-50: rgba(249, 250, 251, var(--opacity));
	--gray-100: rgba(243, 244, 246, var(--opacity));
	--gray-200: rgba(229, 231, 235, var(--opacity));
	--gray-300: rgba(209, 213, 219, var(--opacity));
	--gray-400: rgba(156, 163, 175, var(--opacity));
	--gray-500: rgba(107, 114, 128, var(--opacity));
	--gray-600: rgba(75, 85, 99, var(--opacity));
	--gray-700: rgba(55, 65, 81, var(--opacity));
	--gray-800: rgba(31, 41, 55, var(--opacity));
	--gray-900: rgba(17, 24, 39, var(--opacity));
	--gray-950: rgba(3, 7, 18, var(--opacity));
	--black: rgba(0, 0, 0, var(--opacity));
	--white: rgba(255, 255, 255, var(--opacity));
	--bg-color: var(--white);
	--em-color: var(--black);
	--color: var(--gray-600);
	--r-bg-color: var(--black);
	--r-em-color: var(--white);
	--r-color: var(--gray-400);
}
.dark {
	--bg-color: var(--black);
	--em-color: var(--white);
	--color: var(--gray-300);
	--r-bg-color: var(--white);
	--r-em-color: var(--black);
	--r-color: var(--gray-600);
}
::selection {
	background: var(--r-bg-color);
	color: var(--bg-color);
}
.griffter,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: Griffter;
	font-weight: 700;
	color: var(--em-color);
	letter-spacing: -0.025em;
}
.normal {
	font-family: PLusJakartaSans;
	font-weight: 500;
	color: inherit;
	letter-spacing: unset;
}
.prose {
	font-size: 1.5rem;
	max-width: calc(65ch + 32px);
	font-size: 1rem;
	line-height: 1.75;
	margin: 0 auto;
	padding-inline: 2rem;
	--decoration-color: rgba(0, 0, 0, 0.2);
}
.prose a:not(.button) {
	font-weight: inherit;
	text-decoration: none;
	border-bottom: 1px solid var(--decoration-color);
	transition: border 0.3s ease-in-out;
	position: relative;
	--hover-color: var(--black);
}
.prose a:not(.button):after {
	content: '';
	position: absolute;
	display: inline-block;
	height: 2px;
	background: var(--hover-color);
	left: 0;
	right: 0;
	bottom: -1px;
	transform: scaleX(0);
	transform-origin: left center;
	transition: transform 0.55s var(--bezier);
}
.prose a:not(.button):hover {
	color: var(--hover-color);
}
.prose a:not(.button):hover::after {
	transform: scaleX(1);
}

.dark .prose a {
	--hover-color: var(--white);
	--decoration-color: rgba(255, 255, 255, 0.2);
}
